/* Telas Extra Extra Grandes */
@media screen and (min-width: 1440px) {
    .info-card:not(:last-of-type) .info-card-imagem::after{
        top: 68%;
        left: 34%;
    }
  
    .detaque-mitos{
      margin-left: 19%;
    }
  
    .destaque p{
      margin-left: 7%;
      width: 55%;
    }
  
    .justificativa-exe3{
      width: 72%;
      margin: 1.5% 0 0 14%;
    }
  
    .justificativa-exe3:nth-child(1) p{
      width: 100%;
    }
  
    .justificativa-exe3 img{
      width: 2.5%;
      position: absolute;
      right: 18%;
      margin-top: 0.2%;
    }
  
    .box-alternativa-exe2{
      margin-top: 4%;
      margin-left: 20%;
    }
    .box-alternativa2-exe2{
      margin-left: -390px;
    }
  
    .pagina4-titulo-secao{
      margin-left: 358px;
      width: 60%;
    }
  
    .box-alternativa-exe2-done{
      margin-left: 20%;
    }
  
    .box-alternativa2-exe2-done{
      margin-left: -400px; 
    }

    .botoes-exe3{
      display: none; 
    }

    .itens-exe1-pagina4-mobile{
      display: none;
    }

    .pagina4-titulo-secao{
      margin-left: 435px;
      width: 60%;
    }
  }