/* Telas Grandes */
@media (min-width: 992px) and (max-width: 1200px){
    .introducao p{
      width: 130%;
    }
  
    .ilustra01{
      width: 375px;
    }
  
    .ilustra02{
      width: 365px;
      margin-top: 5%;
    }
  
    .ilustra04{
      width: 430px;
    }
  
    .introducao-tipos p{
      width: 117%;
    }
  
    .card-teste{
      width: 360px;
    }
  
    .info-card:not(:last-of-type) .info-card-imagem::after{
      top: 740px;
      left: 290px;
    }
  
    .info-conteudo p{
      width: 75%;
    }
  
    #intro-passo p{
      width: 150%;
    }
  
    .box-alternativa-exe2{
      margin-top: 5%;
      margin-left: 16%;
      width: 150px;
    }
  
    .box-alternativa2-exe2{
      margin-left: -210px;
      width: 150px;
    }
  
    .box-alternativa-exe2-done{
      margin-left: 16%;
      width: 150px;
    }
  
    .box-alternativa2-exe2-done{
      margin-left: -210px; 
      width: 150px;
    }
  
    .itens-explore{
      margin-left: 10%;
    }
  
    .exercicio-pagina1{
      width: 500px;
    }
  
    .exercicio-pagina1 p{
      font-size: 14px;
    }
  
    .resposta-box-exe1{
      width: 470px;
      margin-left: 33%;
    }
  
    .textos-secao4 p{
      width: 45%;
    }
  
    .options-area{
      margin-left: -4%;
    }
  
    .card-teste-exercicio2{
      width: 600px;
    }
  
    .justificativa-exe3 img{
      margin-top: 2%;
    }
  
    #exe3-img-v{
      margin-top: 6%;
    }
  
    .select-exe4-box select{
      width: 177px;
      font-size: 14px;
    }
  
    .icone-resultado-exe4{
      margin-left: 45%;
    }

    .botoes-exe3{
      display: none; 
    }

    .itens-exe1-pagina4-mobile{
      display: none;
    }

    .pagina4-titulo-secao{
      margin-left: 90px;
      width: 80%;
    }
  }