@media print{

  body *:not(#printSection):not(#printSection *){
      visibility: hidden;
  }

  .apaga-citacao{
    visibility: hidden !important;
  }

  #printSection{
      visibility: visible !important;
      position: absolute;
      top: 0;
      left: 0;
  }
}

body {
  background-color: #FFF; 
  overflow-x: hidden;  
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

nav .jssocials-shares{
  background-color: #DFE6E8;
  border-radius: 2px;
}

.dropdown-menu{
  background-color: #DFE6E8;
}

.grid-container{
  display: flex;
  margin-left: 5%;
}

.introducao{
  max-width: 40%;
}

.introducao-tipos{
  max-width: 100%;
}
.introducao-tipos > h1{
  width: 120%;
  font-size: 54px !important;
}

.introducao p{
  width: 115%;
  margin-top: 5%;
}

.titulo-rea{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/00_marcatitulo1.svg), url(https://apps.univesp.br/letramento-academico/assets/01_marcatxt2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 5% 30%, 5% 95%;
  background-size: auto, 85%;
}

.explore-inicial{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/10_marcatxt-info-1.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 65%;
}
.explore-inicial h3, .explore-inicial2 h3{
  margin-left: 2%;
}

.explore-inicial2{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 58%;
}

.explore-div2{
  margin-left: 15%;
}

.introducao-tipos p{
  width: 110%;
}

.introducao h1, .introducao-tipos h1{
  font-size: 64px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
}

.introducao-tipos-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/06_marcatitulo2.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 75%;
}

.passo-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/00_marcatitulo1.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 100%;
}

.mitos-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/25_marcatitulo3.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 93%;
}

.citacoes-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/27_marcatitulo4.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 60%;
}

.secao4-titulo-teste{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 170px;
  margin-bottom: 25px;
}

.tipos-trabalho mark, #pagina-1 mark{
  background-color: #fcee21;
  padding: 0 0.2em;
}
.passo-passo mark{
  background-color: #9eff9e;
  padding: 0 0.2em;
}
.balanca-div mark{
  background-color: #ff9cff;
  padding: 0 0.2em;
}
.titulo-solto mark, #intro-mitos mark{
  background-color: #9fffff;
  padding: 0 0.2em;
}
.mitos mark{
  background-color: #ff33cc;
}

.secoes-links{
  margin-left: 15%;
}

.ilustra01{
  width: 435px;
}

.ilustra02{
  width: 460px;
}

.ilustra-pagina2{
  width: 400px;
}

.ilustra04{
  width: 470px;
}

.livro-intro{
  width: 37%;
}
.livro-intro2{
  width: 41.11%;
}

#livro1:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/02_botaosecao01-hover.svg);
}
#livro2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/03_botaosecao02-hover.svg);
}
#livro3:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/04_botaosecao03-hover.svg);
}
#livro4:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/05_botaosecao04-hover.svg);
}

.itens-explore-inicial{
  border: 3px solid #000;
}

.itens-explore-inicial img{
  width: 360px;
}

.secoes-links a{
  margin-left: 5%;
}

.intro-links2{
  margin: 5% 0 0 10%;
}

.sub-section h2, .titulo-solto h2, .dropdown-teste h2, .info-card h2{
  font-size: 27px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
}

.sub-section{
  margin-top: 80px;
  max-width: 52%;
}

.sub-section p{
  width: 90%;
}

.ilustra-mobile1, .ilustra-mobile2, .ilustra-mobile3, .ilustra-mobile4{
  display: none;
}

.ilustra03-pagina1{
  width: 850px;
}

.secoes-links2{
  margin-left: 90px;
  margin-top: 40px;
}

.imagem-lendo-livro{
  width: 280px; 
  margin-top: 25px;
}

.texto-corrido{
  margin-left: 5%;
  width: 92%;
}

.titulo-solto{
  margin-left: 5%;
  margin-top: 70px;
  max-width: 93%;
}

.dropdown-teste{
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  padding-top: 15px;
}
.dropdown-teste:hover{
  background-color: #ffff7d;
}
.dropdown-teste:focus{
  border: 0;
  outline: none;
}

.open-dropdown{
  font-size: 64px;
  margin-top: -20px;
}

.referencia-pagina1{
  position: relative; 
  z-index: 10; 
  top: 43%;
}

.card-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  margin-top: 0;
  justify-items: center;
  height: 1150px;
  margin-top: -16px;
}

.card-container2{
  display: block;
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  margin-top: 0;
  justify-items: center;
  height: 1250px;
  margin-top: -16px;
}

.card-teste{
  width: 400px;
  height: 280px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 10px 10px black;
  text-align: center;
  margin-top: 5%;
}

.card-teste h3, .select-teste h3, .titulo-explore h3, .itens-explore h3, .exe2-content h3, .secao4-titulo{
  font-size: 21px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10%;
  position: relative;
  z-index: 1;
}

.card-teste:nth-child(3), .card-teste:nth-child(4), .card-teste:nth-child(5){
  height: 310px;
}

.card-teste p{
  width: 90%;
  text-align: left;
  margin: 5% 0 0 7%;
}

.alinhamento{
  position: relative;
  top: 40%;
}

.card-teste:nth-child(1) h3, .card-teste:nth-child(4) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/10_marcatxt-info-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 130%;
}

.card-teste:nth-child(2) h3, .card-teste:nth-child(3) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 130%;
}

.card-teste:nth-child(5) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 100%;
}

.teste-area{
  display: flex;
  flex-direction: row;  
}

.select-teste{
  width: 170px;
  height: 150px;
  text-align: center;
  background-color: #fcee21;
  margin-top: 25%;
  margin-left: 6%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.botao-resultado:hover{
  background-color: rgba(252, 238, 33, .7);
}

.exercicio-pagina1{
  width: 590px;
  margin: 1% 0 5% 3%;
  height: 145px;
}

.resultado-teste{
  width: 80px;
  margin-left: 4%;
  margin-top: 2%;
  display: none;
}

.botao-resultado{
  outline: none;
  border: none;
  padding: 15px;
  width: 30%;
  background-color: #fcee21;
  margin-bottom: 5%;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
}
.botao-resultado:focus{
  outline: none;
  border: none;
}

.alternativas-area{
  background-color: #fff;
  position: relative;
  z-index: 10;
  cursor: default;
  display: none;
}

.alternativas-teste{
  border: 2px solid #000;
  cursor: pointer;
  padding: 15px;
}

.explore{
  background-color: #f2f2f2;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaque{
  background-color: #9eff9e;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.destaque p{
  text-align: left;
  width: 72%;
  font-weight: bold;
}

.detaque-mitos{
  margin-left: -2%;
}

.destaque-secao4{
  background-color: #ff9cff;
  width: 100%;
  height: auto;
}

.destaque-secao4 > p{
  text-align: left;
  width: 90%;
  margin-left: 5%;
  padding: 20px;
}

.itens-explore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.info-container{
  margin: 8% 0 0 18%;
}

.info-card{
  display: flex;
  margin-top: 20px;
}

.info-card img{
  width: 110px;
}

.info-card-imagem{
  position: relative;
}

.info-card:not(:last-of-type) .info-card-imagem::after{
  content: "";
    position: absolute;
    height: 100%;
    border-left: 10px dotted #9fffff;
    top: 10px;
    left: calc(50% - 3px);
    z-index: -1;
}

.info-conteudo{
  margin-left: 5%;
}

.info-conteudo p{
  width: 65%;
}

.exe2-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-right: 10%;
}

.exe2-content{
  margin-left: 10%;
  text-align: center;
}

.linha-divisória{
  width: 15px;
}

.seta-direita{
  position: relative;
  left: 72%;
  bottom: 2.2%;
}

.seta-esquerda{
  position: relative;
  left: 18%;
  bottom: 1.3%;
}

.exe2Container{
  display: flex; 
  justify-content: center;
}
.exe2Container p{
  text-align: center;
  margin-left: 5%;
  margin-top: 3%;
}

.card-teste-exe2{
  width: 35%;
  height: 100px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 7px 7px black;
  text-align: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.card-teste-exe2 p{
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.num-box-exe2{
  margin-top: 70px;
  margin-right: 5px;
  font-size: 14px;
}

.progress{
  width: 34.5%;
  margin-top: 25px;
  margin-left: 33%;
}

.progress-bar{
  width: 0%;
  background-color: #9eff9e;
}

.botoes-exe2{
  display: none;
}

.exe3-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  margin-top: -2%;
}

.card-teste-exe3{
  width: 44%;
  min-height: 70px;
  height: auto;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 7px 7px black;
  text-align: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.card-teste-exe3 p{
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0.5% 0 0 3%;
  font-weight: bold;
}

.exe3-card{
  border: 3px solid #000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-left: 3%;
  margin-top: 5.5%;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
}

.card-v:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.card-f:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.justificativa-exe3{
  border: 2px solid black;
  min-height: 100px;
  height: auto;
  width: 81%;
  margin: 1.5% 0 0 9.5%;
  display: none;
  border-color: #ff9cff;
}

.justificativa-exe3 p{
  width: 85%;
  margin: 1.5% 0 0 4%;
  line-height: 2;
}

.justificativa-exe3 img{
  width: 4%;
  position: absolute;
  right: 13%;
  margin-top: 0.2%;
}

.textos-secao4{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.textos-secao4 p{
  text-align: left;
  width: 35%;
  margin-left: 7%;
}
.textos-secao4 p:nth-child(1){
  margin-left: -1%;
}

.resultado-secao4{
  margin-top: 4%;
  display: none;
}
.resultado-secao4 p:nth-child(1){
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  color: #000;
  font-weight: bold;
}

.resposta-box{
  background-color: #ff9cff;
  padding: 15px;
  
  text-align: center;
  color: #000 !important;
  letter-spacing: .5px;
}

.respostas-secao4{
  text-align: center; 
  margin-top: 3%;
  color: #ff33cc;
}

.span-teste-secao4{
  margin-left: .5%;
}

.resposta-completa{
  text-align: center;
  margin-top: 2.5%;
}

.select-teste-secao4{
  width: 220px;
  padding: 15px;
  height: 75px;
  text-align: center;
  background-color: #f2f2f2;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1%;
}

.open-secao4{
  font-size: 42px;
  margin-top: -10%; 
  margin-left: 100px;
}

.options-area{
  margin-top: 7%; 
  margin-bottom: 2%;
  display: flex;
  width: 100%;
}

.exercicio2-secao4{
  margin: 5% 0 0 -2%;
}

.exercicio2-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.select-teste2-secao4{
  width: 270px;
  padding: 15px;
  height: 75px;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2%;
}

.select-teste2-secao4 p{
  font-weight: bold;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 10%;
}

.card-teste-exercicio2{
  width: 800px;
  min-height: 100px;
  padding: 15px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 5px 5px black;
  text-align: center;
  margin-top: 0;
  margin-left: 2%;
}

.card-teste-exercicio2 p{
  width: 85%;
  text-align: left;
  margin-left: 5%;
}
.card-teste-exercicio2 p:nth-child(2){
  margin-top: 3%;
}

.resultado-teste-secao4{
  width: 50px;
  margin-left: -5%;
  display: none;
}

.card-teste-exe2-coluna{
  width: 400px;
  min-height: 50px;
  padding: 15px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 4px 4px black;
  text-align: center;
  margin-top: 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card-teste-exe2-coluna p{
  width: 85%;
  text-align: left;
  margin-top: 3%;
}


.alternativas-exe1{
    width: 230px;
    height: 100px;
    border: 0;
    background-color: #dfdfdf;
    font-size: 1.1em;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='54' viewBox='0 0 24 24' width='84' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 45%;
    background-position-y: 50px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 1rem;
    padding-right: 2rem;
    cursor: pointer;
    text-align: center;
}

.alternativas-exe1 option{
  cursor: pointer;
  background-color: aliceblue;
}

.select-exe1-box{
  margin-top: -80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-exe1-box > span{
  font-size: 21px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  z-index: 1;
}

.resposta-box-exe1{
  background-color: #fcee21;
  width: 580px;
  padding: 0.1px;
  margin-bottom: 30px;
  margin-top: -20px;
  margin-left: 29%;
  height: 40px;
}

.resposta-box-exe1 p{
  margin-left: 5%;
  margin-top: 1.3%;
}

.botao-respostas{
  margin-left: 50px;
  display: none;
}

.box-alternativa-exe2{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 6%;
  margin-left: 17%;
  background-color: #fff;
  outline: none;
}
.box-alternativa-exe2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.box-alternativa-exe2-done{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 6%;
  margin-left: 17%;
  background-color: #fff;
  outline: none;
}
.box-alternativa-exe2-done:hover{
  background-image: none;
}

.box-alternativa2-exe2{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: -35px;
  margin-left: -270px;
  background-color: #fff;
  outline: none;
}
.box-alternativa2-exe2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.box-alternativa2-exe2-done{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: -35px;
  margin-left: -270px;
  background-color: #fff;
  outline: none;
}
.box-alternativa2-exe2-done:hover{
  background-image: none;
}

.exe2-content h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.select-exe4-box{
  margin-top: -10px;
}

.select-exe4-box select{ 
  background-color: #f2f2f2;
  color: #212529;
  border: 0;
  outline: none;
  width: 200px;
  padding: 15px;
  height: 55px;
  font-size: 16px;
  border-radius: 2px;   
}

.select-exe4-box hr{
  border: 1px solid rgba(0, 0, 0, .8);
  width: 88%;
  margin-left: 24px;
  margin-top: 1px;
}

.bold-option{
  font-weight: bold !important;
}

.icone-resultado-exe4{
  height: 50px;
  margin-left: 105px;
  display: none;
}

#selectExe4Box1{
  margin-top: -120px;
}
#selectExe4Box2{
  margin-top: -150px;
}
#selectExe4Box3{
  margin-top: -95px;
}

.select-exe4-box2 select{ 
  background-color: #f2f2f2;
  color: #212529;
  border: 0;
  outline: none;
  width: 330px;
  padding: 15px;
  height: 85px;
  font-size: 16px;
  border-radius: 2px;   
  font-weight: bold;
}

.alternativas-exe4{
  width: 230px;
  height: 100px;
  border: 0;
  background-color: #dfdfdf;
  font-size: 1.1em;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='54' viewBox='0 0 24 24' width='84' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-left: 25px;
  margin-top: 10px;
  padding: 1rem;
  padding-right: 2rem;
  cursor: pointer;
  text-align: center;
}

.alternativas-exe4 option{
  cursor: pointer;
  background-color: aliceblue;
}

.resultado-exercicio4-2{
  text-align: center;
  margin-top: 20px;
  display: none;
}

.resultado-exercicio4-2 p{
  font-size: 16px;
  font-family: 'Noto Serif', sans-serif;
}

.pagina4-titulo-secao{
  margin-left: 108px;
  width: 82%;
}

#exe3-img-v{
  margin-top: 2%;
}

.imagem-balanca{
  width: 700px; 
  margin-top: 30px;
}

.botoes-exe3{
  display: none; 
}

.itens-exe1-pagina4-mobile{
  display: none;
}

.botoes-exe1-pagina4{
  text-align: center; 
  margin: 4% 0 -50px 0;
}

.titulo-explore h3{
  margin-top: 1% ;
}

.toPagina3{
  margin-left: -8%;
}

.print-document{
  width: 100%;
  height: auto;
  border: 10px solid #ff9cff;
  margin-top: 3%;
}

textarea{
  border-color: transparent;
  margin-left: 5%;
  height: 245px;
  width: 90%;
}
textarea:focus{
  border-color: transparent;
  outline: none;
}

table{
  width: 100%;
  border: 1px solid #DFE6E8;
}

th{
  padding: 20px;
  max-width: 70px;
  background-color: #ff9cff;
  font-family: 'Noto Serif', sans-serif;
}

.print-buttons{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  gap: 10%;
}

.print-buttons > button{
  outline: none;
  border: 0;
  font-family: 'Noto Serif', sans-serif;
  background-color: #ff9cff;
  padding: 15px;
  font-weight: bold;
  width: 240px;
  cursor: pointer;
}

.print-buttons > a > .edit-version{
  outline: none;
  border: 0;
  font-family: 'Noto Serif', sans-serif;
  background-color: #9fffff;
  padding: 15px;
  font-weight: bold;
  width: 270px;
  cursor: pointer;
  margin-top: 10%;
  font-size: 18px;
}

.apaga-citacao{
  background-color: #ff9cff;
  position: absolute;
  margin-top: 3%;
  right: 8%;
  width: 40px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}