body {
  background-color: #FFF; 
  overflow-x: hidden;  
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

nav .jssocials-shares{
  background-color: #DFE6E8;
  border-radius: 2px;
}

.dropdown-menu{
  background-color: #DFE6E8;
}

.grid-container{
  display: flex;
  margin-left: 5%;
}

.introducao{
  max-width: 40%;
}

.introducao-tipos{
  max-width: 100%;
}
.introducao-tipos > h1{
  width: 120%;
  font-size: 54px !important;
}

.introducao p{
  width: 115%;
  margin-top: 5%;
}

.titulo-rea{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/00_marcatitulo1.svg), url(https://apps.univesp.br/letramento-academico/assets/01_marcatxt2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 5% 30%, 5% 95%;
  background-size: auto, 85%;
}

.explore-inicial{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/10_marcatxt-info-1.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 65%;
}
.explore-inicial h3, .explore-inicial2 h3{
  margin-left: 2%;
}

.explore-inicial2{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: 58%;
}

.explore-div2{
  margin-left: 15%;
}

.introducao-tipos p{
  width: 110%;
}

.introducao h1, .introducao-tipos h1{
  font-size: 64px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
}

.introducao-tipos-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/06_marcatitulo2.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 75%;
}

.passo-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/00_marcatitulo1.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 100%;
}

.mitos-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/25_marcatitulo3.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 93%;
}

.citacoes-titulo{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/27_marcatitulo4.svg);
  background-repeat: no-repeat;
  background-position: 0 94%;
  background-size: 60%;
}

.secao4-titulo-teste{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 170px;
  margin-bottom: 25px;
}

.tipos-trabalho mark, #pagina-1 mark{
  background-color: #fcee21;
  padding: 0 0.2em;
}
.passo-passo mark{
  background-color: #9eff9e;
  padding: 0 0.2em;
}
.balanca-div mark{
  background-color: #ff9cff;
  padding: 0 0.2em;
}
.titulo-solto mark, #intro-mitos mark{
  background-color: #9fffff;
  padding: 0 0.2em;
}
.mitos mark{
  background-color: #ff33cc;
}

.secoes-links{
  margin-left: 15%;
}

.ilustra01{
  width: 435px;
}

.ilustra02{
  width: 460px;
}

.ilustra04{
  width: 470px;
}

.livro-intro{
  width: 37%;
}
.livro-intro2{
  width: 41.11%;
}

#livro1:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/02_botaosecao01-hover.svg);
}
#livro2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/03_botaosecao02-hover.svg);
}
#livro3:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/04_botaosecao03-hover.svg);
}
#livro4:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/05_botaosecao04-hover.svg);
}

.itens-explore-inicial{
  border: 3px solid #000;
}

.itens-explore-inicial img{
  width: 360px;
}

.secoes-links a{
  margin-left: 5%;
}

.intro-links2{
  margin: 5% 0 0 10%;
}

.sub-section h2, .titulo-solto h2, .dropdown-teste h2, .info-card h2{
  font-size: 27px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
}

.sub-section{
  margin-top: 80px;
  max-width: 52%;
}

.sub-section p{
  width: 90%;
}

.ilustra03-pagina1{
  width: 850px;
}

.secoes-links2{
  margin-left: 90px;
  margin-top: 40px;
}

.imagem-lendo-livro{
  width: 280px; 
  margin-top: 25px;
}

.texto-corrido{
  margin-left: 5%;
  width: 92%;
}

.titulo-solto{
  margin-left: 5%;
  margin-top: 70px;
  max-width: 93%;
}

.dropdown-teste{
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  padding-top: 15px;
}
.dropdown-teste:hover{
  background-color: #ffff7d;
}
.dropdown-teste:focus{
  border: 0;
  outline: none;
}

.open-dropdown{
  font-size: 64px;
  margin-top: -20px;
}

.referencia-pagina1{
  position: relative; 
  z-index: 10; 
  top: 43%;
}

.card-container{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  margin-top: 0;
  justify-items: center;
  height: 1150px;
  margin-top: -16px;
}

.card-container2{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 5%;
  background-color: #ffffa0;
  width: 92%;
  margin-top: 0;
  justify-items: center;
  height: 1250px;
  margin-top: -16px;
}

.card-teste{
  width: 400px;
  height: 280px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 10px 10px black;
  text-align: center;
  margin-top: 5%;
}

.card-teste h3, .select-teste h3, .titulo-explore h3, .itens-explore h3, .exe2-content h3, .secao4-titulo{
  font-size: 21px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10%;
  position: relative;
  z-index: 1;
}

.card-teste:nth-child(3), .card-teste:nth-child(4), .card-teste:nth-child(5){
  height: 310px;
}

.card-teste p{
  width: 90%;
  text-align: left;
  margin: 5% 0 0 7%;
}

.alinhamento{
  position: relative;
  top: 40%;
}

.card-teste:nth-child(1) h3, .card-teste:nth-child(4) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/10_marcatxt-info-1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 130%;
}

.card-teste:nth-child(2) h3, .card-teste:nth-child(3) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 130%;
}

.card-teste:nth-child(5) h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/11_marcatxt-info-2.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 800px 100%;
}

.teste-area{
  display: flex;
  flex-direction: row;  
}

.select-teste{
  width: 170px;
  height: 150px;
  text-align: center;
  background-color: #fcee21;
  margin-top: 25%;
  margin-left: 6%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.botao-resultado:hover{
  background-color: rgba(252, 238, 33, .7);
}

.exercicio-pagina1{
  width: 590px;
  margin: 1% 0 5% 3%;
  height: 145px;
}

.resultado-teste{
  width: 80px;
  margin-left: 4%;
  margin-top: 2%;
  display: none;
}

.botao-resultado{
  outline: none;
  border: none;
  padding: 15px;
  width: 30%;
  background-color: #fcee21;
  margin-bottom: 5%;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
}
.botao-resultado:focus{
  outline: none;
  border: none;
}

.alternativas-area{
  background-color: #fff;
  position: relative;
  z-index: 10;
  cursor: default;
  display: none;
}

.alternativas-teste{
  border: 2px solid #000;
  cursor: pointer;
  padding: 15px;
}

.explore{
  background-color: #f2f2f2;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destaque{
  background-color: #9eff9e;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.destaque p{
  text-align: left;
  width: 72%;
  font-weight: bold;
}

.detaque-mitos{
  margin-left: -2%;
}

.destaque-secao4{
  background-color: #ff9cff;
  width: 100%;
  height: auto;
}

.destaque-secao4 > p{
  text-align: left;
  width: 90%;
  margin-left: 5%;
  padding: 20px;
}

.itens-explore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.info-container{
  margin: 8% 0 0 18%;
}

.info-card{
  display: flex;
  margin-top: 20px;
}

.info-card img{
  width: 110px;
}

.info-card:not(:last-of-type) .info-card-imagem::after{
  content: "";
    position: absolute;
    height: 1320px;
    border-left: 10px dotted #9fffff;
    top: 110%;
    left: 28%;
    z-index: -1;
}

.info-conteudo{
  margin-left: 5%;
}

.info-conteudo p{
  width: 65%;
}

.exe2-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-right: 10%;
}

.exe2-content{
  margin-left: 10%;
  text-align: center;
}

.linha-divisória{
  width: 15px;
}

.seta-direita{
  position: relative;
  left: 72%;
  bottom: 2.2%;
}

.seta-esquerda{
  position: relative;
  left: 18%;
  bottom: 1.3%;
}

.exe2Container{
  display: flex; 
  justify-content: center;
}
.exe2Container p{
  text-align: center;
  margin-left: 5%;
  margin-top: 3%;
}

.card-teste-exe2{
  width: 35%;
  height: 100px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 7px 7px black;
  text-align: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.card-teste-exe2 p{
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.num-box-exe2{
  margin-top: 70px;
  margin-right: 5px;
  font-size: 14px;
}

.progress{
  width: 34.5%;
  margin-top: 25px;
  margin-left: 33%;
}

.progress-bar{
  width: 0%;
  background-color: #9eff9e;
}

.botoes-exe2{
  display: none;
}

.exe3-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  margin-top: -2%;
}

.card-teste-exe3{
  width: 44%;
  min-height: 70px;
  height: auto;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 7px 7px black;
  text-align: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.card-teste-exe3 p{
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0.5% 0 0 3%;
  font-weight: bold;
}

.exe3-card{
  border: 3px solid #000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-left: 3%;
  margin-top: 5.5%;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
}

.card-v:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.card-f:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.justificativa-exe3{
  border: 2px solid black;
  min-height: 100px;
  height: auto;
  width: 81%;
  margin: 1.5% 0 0 9.5%;
  display: none;
  border-color: #ff9cff;
}

.justificativa-exe3 p{
  width: 85%;
  margin: 1.5% 0 0 4%;
  line-height: 2;
}

.justificativa-exe3 img{
  width: 4%;
  position: absolute;
  right: 13%;
  margin-top: 0.2%;
}

.textos-secao4{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.textos-secao4 p{
  text-align: left;
  width: 35%;
  margin-left: 7%;
}
.textos-secao4 p:nth-child(1){
  margin-left: -1%;
}

.resultado-secao4{
  margin-top: 4%;
  display: none;
}
.resultado-secao4 p:nth-child(1){
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
  color: #000;
  font-weight: bold;
}

.resposta-box{
  background-color: #ff9cff;
  padding: 15px;
  
  text-align: center;
  color: #000 !important;
  letter-spacing: .5px;
}

.respostas-secao4{
  text-align: center; 
  margin-top: 3%;
  color: #ff33cc;
}

.span-teste-secao4{
  margin-left: .5%;
}

.resposta-completa{
  text-align: center;
  margin-top: 2.5%;
}

.select-teste-secao4{
  width: 220px;
  padding: 15px;
  height: 75px;
  text-align: center;
  background-color: #f2f2f2;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1%;
}

.open-secao4{
  font-size: 42px;
  margin-top: -10%; 
  margin-left: 100px;
}

.options-area{
  margin-top: 7%; 
  margin-bottom: 2%;
  display: flex;
  width: 100%;
}

.exercicio2-secao4{
  margin: 5% 0 0 -2%;
}

.exercicio2-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.select-teste2-secao4{
  width: 270px;
  padding: 15px;
  height: 75px;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2%;
}

.select-teste2-secao4 p{
  font-weight: bold;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 10%;
}

.card-teste-exercicio2{
  width: 800px;
  min-height: 100px;
  padding: 15px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 5px 5px black;
  text-align: center;
  margin-top: 0;
  margin-left: 2%;
}

.card-teste-exercicio2 p{
  width: 85%;
  text-align: left;
  margin-left: 5%;
}
.card-teste-exercicio2 p:nth-child(2){
  margin-top: 3%;
}

.resultado-teste-secao4{
  width: 50px;
  margin-left: -5%;
  display: none;
}

.card-teste-exe2-coluna{
  width: 400px;
  min-height: 50px;
  padding: 15px;
  background-color: #fff;
  border: 3px solid #000;
  box-shadow: 4px 4px black;
  text-align: center;
  margin-top: 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.card-teste-exe2-coluna p{
  width: 85%;
  text-align: left;
  margin-top: 3%;
}


.alternativas-exe1{
    width: 230px;
    height: 100px;
    border: 0;
    background-color: #dfdfdf;
    font-size: 1.1em;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='54' viewBox='0 0 24 24' width='84' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 45%;
    background-position-y: 50px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 1rem;
    padding-right: 2rem;
    cursor: pointer;
    text-align: center;
}

.alternativas-exe1 option{
  cursor: pointer;
  background-color: aliceblue;
}

.select-exe1-box{
  margin-top: -80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-exe1-box > span{
  font-size: 21px;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 10%;
  margin-left: 10%;
  position: relative;
  z-index: 1;
}

.resposta-box-exe1{
  background-color: #fcee21;
  width: 580px;
  padding: 0.1px;
  margin-bottom: 30px;
  margin-top: -20px;
  margin-left: 29%;
  height: 40px;
}

.resposta-box-exe1 p{
  margin-left: 5%;
  margin-top: 1.3%;
}

.botao-respostas{
  margin-left: 50px;
  display: none;
}

.box-alternativa-exe2{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 6%;
  margin-left: 17%;
  background-color: #fff;
  outline: none;
}
.box-alternativa-exe2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.box-alternativa-exe2-done{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: 6%;
  margin-left: 17%;
  background-color: #fff;
  outline: none;
}
.box-alternativa-exe2-done:hover{
  background-image: none;
}

.box-alternativa2-exe2{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: -35px;
  margin-left: -270px;
  background-color: #fff;
  outline: none;
}
.box-alternativa2-exe2:hover{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/28_marcatxt4.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.box-alternativa2-exe2-done{
  border: 4px solid #000;
  width: 190px;
  height: 60px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Serif', sans-serif;
  margin-top: -35px;
  margin-left: -270px;
  background-color: #fff;
  outline: none;
}
.box-alternativa2-exe2-done:hover{
  background-image: none;
}

.exe2-content h3{
  background-image: url(https://apps.univesp.br/letramento-academico/assets/22_marcatxt.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.select-exe4-box{
  margin-top: -10px;
}

.select-exe4-box select{ 
  background-color: #f2f2f2;
  color: #212529;
  border: 0;
  outline: none;
  width: 200px;
  padding: 15px;
  height: 55px;
  font-size: 16px;
  border-radius: 2px;   
}

.select-exe4-box hr{
  border: 1px solid rgba(0, 0, 0, .8);
  width: 88%;
  margin-left: 24px;
  margin-top: 1px;
}

.bold-option{
  font-weight: bold !important;
}

.icone-resultado-exe4{
  height: 50px;
  margin-left: 105px;
  display: none;
}

#selectExe4Box1{
  margin-top: -120px;
}
#selectExe4Box2{
  margin-top: -150px;
}
#selectExe4Box3{
  margin-top: -95px;
}

.select-exe4-box2 select{ 
  background-color: #f2f2f2;
  color: #212529;
  border: 0;
  outline: none;
  width: 330px;
  padding: 15px;
  height: 85px;
  font-size: 16px;
  border-radius: 2px;   
  font-weight: bold;
}

.alternativas-exe4{
  width: 230px;
  height: 100px;
  border: 0;
  background-color: #dfdfdf;
  font-size: 1.1em;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='54' viewBox='0 0 24 24' width='84' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 40px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-left: 25px;
  margin-top: 10px;
  padding: 1rem;
  padding-right: 2rem;
  cursor: pointer;
  text-align: center;
}

.alternativas-exe4 option{
  cursor: pointer;
  background-color: aliceblue;
}

.resultado-exercicio4-2{
  text-align: center;
  margin-top: 20px;
  display: none;
}

.resultado-exercicio4-2 p{
  font-size: 16px;
  font-family: 'Noto Serif', sans-serif;
}

.pagina4-titulo-secao{
  margin-left: 108px;
  width: 82%;
}

#exe3-img-v{
  margin-top: 2%;
}

.imagem-balanca{
  width: 700px; 
  margin-top: 30px;
}


/* MEDIA QUERYS */

/* Telas Pequenas */
@media (min-width: 576px) and (max-width: 767px){
  .grid-container{
    display: block;
    margin-left: 18%;
  }

  .titulo-rea{
  background-position: 5% 30%, 5% 95%;
  background-size: 100%;
  }  

  .introducao p{
    width: 220%;
    margin-top: 7%;
  }

  .secoes-links{
    margin-left: -2%;
    margin-top: 10%;
  }

  .intro-links2{
    margin: 5% 0 0 0;
  }

  .livro-intro2{
    width: 37%;
  }

  .explore{
    text-align: center;
    height: 700px;
  }

  .titulo-explore{
    width: 80%;
  }

  .itens-explore{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }

  .explore-inicial h3{
    margin-left: -35%;
    margin-bottom: 5%;
  }

  .explore-inicial2 h3{
    margin-left: -42%;
    margin-bottom: 5%;
  }

  .explore-div2{
    margin-left: 0;
    margin-top: 10%;
  }

  .introducao-tipos-titulo{
    margin-left: -12%;
  }

  .introducao-tipos p{
    margin-left: -12%;
  }

  #paragrafo1-pagina1{
    margin-top: 100% !important;
  }

  .ilustra01{
    width: 350px;
    position: relative;
    bottom: 670px;
    margin-bottom: -90%;
  }

  .sub-section{
    margin-top: -1%;
  }

  .sub-section h2{
    width: 220% !important;
    margin-left: -23% !important;
  }

  .sub-section p{
    width: 210% !important;
    margin-left: -30% !important;
  }

  .paragrafo1-sub-section{
    margin-top: 180% !important;
  }

  .imagem-lendo-livro{
    position: relative;
    bottom: 620px;
    margin-bottom: -90%;
    margin-left: -18%;
  }

  #texto-corrido1{
    margin-top: -65px !important;
  }

  .ilustra03-pagina1 {
    width: 440px;
  }

  .explore-mobile{
    display: grid !important;
    grid-template-columns: 33,3% 33,3% 33,3% !important;
    grid-template-areas: 
    "index index index"
    "pagina1 pagina2 pagina3";
  }

  .toIndex{
    grid-area: index;
    width: 50%;
    margin-left: 28%;
    margin-bottom: 5%;
  }
  .toPagina1{
    grid-area: pagina1;
    width: 130%;
  }
  .toPagina2{
    grid-area: pagina2;
    width: 130%;
  }
  .toPagina3{
    grid-area: pagina3;
    width: 130%;
  }

  .card-container{
    display: block;
    height: 1800px;
    text-align: center;
  }

  .alinhamento{
    position: inherit;
  }

  .card-pagina1{
    margin-left: 6%;
  }

  .referencia-pagina1{
    top: 4%;
    margin-left: 13%;
  }
}


/* Telas Médias */
@media (min-width: 768px) and (max-width: 991px){
  .titulo-rea{
    background-position: 5% 35%, 5% 93%;
  }

  .introducao h1{
    font-size: 48px;
  }

  .secoes-links{
    margin-left: 15%;
    margin-top: 10%;
  }

  .intro-links1 img{
    width: 170%;
  }

  .intro-links2 img{
    width: 180%;
  }

  .intro-links1, .intro-links2{
    display: flex;
  }

  .secoes-links a{
    margin-left: 25%;
  }

  .introducao p{
    width: 150%;
  }

  .itens-explore-inicial img{
    width: 300px;
  }

  .explore-inicial h3, .explore-inicial2 h3{
    font-size: 18px;
  }

  .ilustra01{
    width: 350px;
    margin-left: 10%;
  }

  .introducao-tipos > h1{
    width: 180%;
    font-size: 48px !important;
  }

  .introducao-tipos p{
    width: 140%;
  }

  .imagem-lendo-livro{
    width: 250px; 
    margin-top: 85px;
    margin-left: 20%;
  }

  .sub-section h2{
    font-size: 26px;
  }

  .ilustra03-pagina1{
    width: 620px;
  }

  .card-teste{
    width: 280px;
  }

  .card-teste:nth-child(3), .card-teste:nth-child(4), .card-teste:nth-child(5){
    height: 340px;
  }

  .alternativas-exe1{
    width: 205px;
  }

  .exercicio-pagina1{
    height: 155px;
  }

  .exercicio-pagina1 p{
    font-size: 12px;
  }

  .resposta-box-exe1{
    width: 308px;
    margin-left: 38%;
    margin-top: -12px;
  }
  #resposta-exe-5{
    font-size: 12px;
  }

  .botao-resultado{
    width: 40%;
  }

  .itens-explore{
    margin-left: 10%;
  }

  .info-conteudo p{
    width: 100%;
  }

  .info-card:not(:last-of-type) .info-card-imagem::after{
    top: 122%;
    left: 30%;
  }

  .card-teste-exe2{
    width: 50%;
  }

  .progress{
    width: 50%;
    margin-left: 25.5%;
  }

  .box-alternativa-exe2{
    margin-top: 8%;
    margin-left: 11%;
    width: 150px;
  }

  .box-alternativa2-exe2{
    margin-left: -150px;
    width: 150px;
  }

  .box-alternativa-exe2-done{
    margin-left: 11%;
    width: 150px;
  }

  .box-alternativa2-exe2-done{
    margin-left: -150px; 
    width: 150px;
  }

  .card-teste-exe2-coluna{
    width: 320px;
  }

  .ilustra02{
    width: 345px;
    margin-top: 12%;
    margin-left: 10%;
  }

  .exe3-card{
    width: 160px;
  }

  .card-teste-exe3{
    margin-right: 15px;
  }

  .justificativa-exe3 img{
    margin-top: 3%;
  }

  #exe3-img-v{
    margin-top: 10%;
    width: 6%;
  }

  .ilustra04{
    width: 400px;
    margin-left: 8%;
  }

  .lista-pagina4 li{
    width: 170%;
  }

  .textos-secao4 p{
    width: 60%;
  }

  .imagem-balanca{
    width: 600px;
  }

  .select-exe4-box select{
    width: 120px;
    font-size: 10px;
  }

  .select-exe4-box hr{
    width: 82%;
  }

  .open-secao4{
    margin-left: 45%;
  }

  .icone-resultado-exe4{
    margin-left: 45%;
  }

  .select-exe4-box2 select{
    width: 260px;
  }

  .card-teste-exercicio2{
    width: 400px;
  }

  .card-teste-exercicio2 p{
    font-size: 14px;
    width: 90%;
  }
}

/* Telas Grandes */
@media (min-width: 992px) and (max-width: 1200px){
  .introducao p{
    width: 130%;
  }

  .ilustra01{
    width: 375px;
  }

  .ilustra02{
    width: 365px;
    margin-top: 5%;
  }

  .ilustra04{
    width: 430px;
  }

  .introducao-tipos p{
    width: 117%;
  }

  .card-teste{
    width: 360px;
  }

  .info-card:not(:last-of-type) .info-card-imagem::after{
    top: 740px;
    left: 290px;
  }

  .info-conteudo p{
    width: 75%;
  }

  #intro-passo p{
    width: 150%;
  }

  .box-alternativa-exe2{
    margin-top: 5%;
    margin-left: 16%;
    width: 150px;
  }

  .box-alternativa2-exe2{
    margin-left: -210px;
    width: 150px;
  }

  .box-alternativa-exe2-done{
    margin-left: 16%;
    width: 150px;
  }

  .box-alternativa2-exe2-done{
    margin-left: -210px; 
    width: 150px;
  }

  .itens-explore{
    margin-left: 10%;
  }

  .exercicio-pagina1{
    width: 500px;
  }

  .exercicio-pagina1 p{
    font-size: 14px;
  }

  .resposta-box-exe1{
    width: 470px;
    margin-left: 33%;
  }

  .textos-secao4 p{
    width: 45%;
  }

  .options-area{
    margin-left: -4%;
  }

  .card-teste-exercicio2{
    width: 600px;
  }

  .justificativa-exe3 img{
    margin-top: 2%;
  }

  #exe3-img-v{
    margin-top: 6%;
  }

  .select-exe4-box select{
    width: 177px;
    font-size: 14px;
  }

  .icone-resultado-exe4{
    margin-left: 45%;
  }
}


/* Telas Extra Extra Grandes */
@media screen and (min-width: 1440px) {
  .info-card:not(:last-of-type) .info-card-imagem::after{
      top: 68%;
      left: 34%;
  }

  .detaque-mitos{
    margin-left: 19%;
  }

  .destaque p{
    margin-left: 2.5%;
    width: 55%;
  }

  .justificativa-exe3{
    width: 72%;
    margin: 1.5% 0 0 14%;
  }

  .justificativa-exe3:nth-child(1) p{
    width: 100%;
  }

  .justificativa-exe3 img{
    width: 2.5%;
    position: absolute;
    right: 18%;
    margin-top: 0.2%;
  }

  .box-alternativa-exe2{
    margin-top: 4%;
    margin-left: 20%;
  }
  .box-alternativa2-exe2{
    margin-left: -390px;
  }

  .pagina4-titulo-secao{
    margin-left: 358px;
    width: 60%;
  }

  .box-alternativa-exe2-done{
    margin-left: 20%;
  }

  .box-alternativa2-exe2-done{
    margin-left: -400px; 
  }
}