/* HEADER */

/* Botão Pular para Conteúdo Principal */
nav .logo img {
  background-color: black;
}

i .material-icons{
  color: white;
}

/* Caixa do Logotipo + Botão de compartilhamento */
/* nav .logo img,
nav .nav-link  {
  background-color: red;
} */

/* Botão de compartilhamento */
nav .nav-link, nav .nav-link:focus {
  background-color: black;
  color: white;
}

nav .nav-link:hover,
nav .nav-link[aria-expanded="true"] {
  background-color: rgba(0,0,0,.7);
  color: white;
}

/* FOOTER */
/* Cores de fonte + contornos */
/* footer, footer .sharing i {
  color: red;
}
footer .cred-rea>div:not(:first-child) {
  border-left-color: red;
}
footer .aval-rea .btn-secondary {
  border-color: red;
}
@media (max-width: 1199.98px) {
  footer .sharing i {
    background-color: red;
    color:  white;
  }
} */
footer .aval-rea .btn-secondary:hover,
footer .aval-rea .btn-secondary:focus {}

/* Cor do ícone de compartilhamento dentro dos círculos. Ajustar para mesma cor do fundo quando utilizado background diferente do padrão ou transparente. */
/* @media (max-width: 1199.98px) {
  footer .sharing i {
    color:  red;
  } */

/* MAIN */
main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 992px) {
  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
